body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.canvas-container {
    display: block; /* Alterado de flex para block */
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.canvas-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adicionado para espaçamento entre os itens */
}

canvas {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}
